.links:hover {
  color: black;
}
.icon-twit:hover {
  color: #f56040;
}
.icon-face:hover {
  color: #f56040;
}
.icon-insta:hover {
  color: #f56040;
}
@media screen and (max-width: 480px) {
  .footer_topic{
    font-size: 15px !important;
  }
  .links{
    font-size: 14px !important;
  }

}