.navbar_header{
    background-image: url('../../../Assets/images/Header/pc.png');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
    #event{
        font-size: 50px;
    }
    #text_land{
        font-size: 15px;
    }

  }